.StoryCard {
    width: 250px;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 15px 10px #ccc;
    margin: 16px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    color: #505050;
    border-radius: 10px;
}

.StoryCard h2 {
    text-decoration: underline;
}

.StoryCard span {
    font-weight: bold;
    font-size: 90%;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}