.MenuBar{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: 	#F5F5F5;
    background-color: brown
}

.MenuBar span {
    padding-left: 5%;
    padding-right: 5%;
}